body {
  width: 100%;
  height: 100%;
}

h1.introh1 {
  font-family: 'Black Ops One', cursive;
  margin-bottom: 5px;
  padding bottom: 5px;
  -webkit-margin-after: 0px;
  font-size: 250%;
  color: red;
}

.game-status {
  display: inline-block;
}

.gameplay  {
  font-family: 'Squada One', cursive;
}
.scorenumeric  {
  font-family: 'Squada One', cursive;
  font-size: 1.6em;
  padding-left: 20px;
}

.turnMessage {
  font-family: 'Nothing You Could Do', cursive;
  margin-top: -15px;
  padding-top: 10px;
}

h2.introh2 {
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-margin-before: 0px;
}

.logo {
  width: 275px;
  height: 275px;
  margin-top: 40px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-image: url('flipSide.png');
}

.signups {
 margin-left: 325px;
 width: 400px;
 margin-top: 20px;
}

.restart-button, .quit-form {
  display: inline-block;
}

.main {
  background:rgba(0,0,240, .5);
  height: 660px;
  width: 660px;
  padding: 10px;
  border-color: black;
  margin-left:auto;
  margin-right:auto;
}

.container{
  display: inline-block;
  width: 23%;
  height: 23%;
  position: relative;
  margin: 1%;
}

.card{
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
}

.face.front {
  background:aliceblue;
}

.face.back {
  display: block;
  box-sizing: border-box;
  padding: 0px;
  color: white;
  text-align: center;
  background-color: #111;
  outline: 1px solid black;
}

.container{
  perspective: 800px;
}
.card{
  transform-style: preserve-3d;
  transition: all .25s linear;
}
.flip {
  transform: rotateY(180deg);
}
.matched {
  transform: rotateY(180deg);
  border: 2px solid green;
}
.face {
  backface-visibility: hidden;
}

.face.back {
  transform: rotateY(180deg);
}

form {
  max-width: 200px;
}

p * {
  display: block;
  padding-bottom: 5px;
}

button.start {
  margin-top: -15px;
  padding: .3em .8em;
  border: 1px solid #446d88;
  background: #58a linear-gradient(#77aobb, #58a);
  border-radius: .2em;
  box-shadow: 0 .05em .25em gray;
  color: red;
  text-shadow: 0 -.05em .05em #335166;
  font-size: 125%;
  line-height: 1.5;
}

input[type=email]{
  font-size: 90%;
  width: 150%;
  border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.5),
            0 0 16px rgba(0,0,0,0.5);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 10px 0 10px -5px;
}

/* This is our style for the invalid fields */
input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
