body {
  margin: 0 auto;
}

h1.introh1 {
  font-family: 'Black Ops One', cursive;
  margin-bottom: 5px;
  padding bottom: 5px;
  -webkit-margin-after: 0px;
  font-size: 250%;
  color: red;
}

.game-highscore {
  display: inline-block;
  margin: -10px 20px 0px 20px;
}
.game-score {
  display: inline-block;
  margin: -10px 450px 0px 20px;
}

.gameplay {
  font-family: 'Squada One', cursive;
  font-size: 1.4em;
  color: gold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.scorenumeric {
  font-family: 'Squada One', cursive;
  font-size: 1.2em;
  margin-top: 5px;
}
.highscorenumeric {
  font-family: 'Squada One', cursive;
  font-size: 1.2em;
  margin-top: 5px;
}
.control-buttons {
  padding-left: 15px;
  margin-top: -10px;
}

.turnMessage {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.1em;
  margin-top: -15px;
  padding-top: 10px;
  padding-left: 10px;
}

h2.introh2 {
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-margin-before: 0px;
}

p.introp {
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 20px;
  margin-left: 28px;
  margin-right: 20px;
  display: block;
  padding: 1%;
  text-align: justify;
  box-sizing: border-box;
  border: 2px inset rgba(255, 0, 0, 0.25);;
  border-radius: 5px;
}

.logo {
  display: inline-block;
}

.logo-image {
  margin-bottom: -30px;
}

.center {
  width: 90%;
}

.signups {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

.restart-button, .quit-form {
  display: inline-block;
}

.main {
  background: rgba(0,0,24, .65);
  height: 660px;
  width: 660px;
  padding: 10px;
  border-color: black;
  margin-top: 50px;
  margin-left:auto;
  margin-right:auto;
}

.container{
  display: inline-block;
  width: 23%;
  height: 23%;
  position: relative;
  margin: 1%;
}

.card{
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
}

.face.front {
  background:aliceblue;
  background-image: url(flipSide.png);
  background-size: 75px 75px;
  background-repeat: no-repeat;
  background-position: center;

}

.face.back {
  display: block;
  box-sizing: border-box;
  padding: 0px;
  color: white;
  text-align: center;
}

.container{
  perspective: 800px;
}
.card{
  transform-style: preserve-3d;
  transition: all .25s linear;
}

.flip {
  transform: rotateX(180deg);  //changed 11-18
}
.matched {
  transform: rotateX(180deg);
  border: 1px solid gold;
}
.face {
  backface-visibility: hidden;
}

.face.back {
  transform: rotateX(180deg);
}

form {
  max-width: 200px;
}

p * {
  display: block;
  padding-bottom: 5px;
}

button.start {
  margin-top: -15px;
  padding: .3em .8em;
  border: 1px solid #446d88;
  background: #58a linear-gradient(#77aobb, #58a);
  border-radius: .2em;
  box-shadow: 0 .05em .25em gray;
  color: red;
  text-shadow: 0 -.05em .05em #335166;
  font-size: 125%;
  line-height: 1.5;
  width: 168%;
  margin-left: -3px;
}

input[type=email]{
  font-size: 90%;
  width: 150%;
  border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.5),
            0 0 16px rgba(0,0,0,0.5);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 10px 0 10px -5px;
}

/* This is our style for the invalid fields */
input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

#forkongithub a {
  background:red;
  color:black;
  text-decoration:none;
  font-family:arial,sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}
#forkongithub a:hover {
  background:red;
  color:white;
}
#forkongithub a::before, #forkongithub a::after {
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:black;
}
#forkongithub a::after {
  bottom:1px;
  top:auto;
}
@media screen and (min-width:800px) {
  #forkongithub {
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
    z-index:9999;
  }
  #forkongithub a {
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.8);
    }
  }
