body {
  width: 100%;
  height: 100%;

}

h1 {
  font-family: 'Black Ops One', cursive;
  margin-bottom: 5px;
  padding bottom: 5px;
  -webkit-margin-after: 0px;
}

.gameplay {
  font-family: 'Squada One', cursive;
}

.turnMessage {
  font-family: 'Nothing You Could Do', cursive;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-margin-before: 0px;
}

.logo {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-image: url('flipSide.png');
}

.signup {
 margin-left: 300px;
 width: 400px;
 margin-top: 50px;
}

.main {
  background:rgba(0,0,240, .5);
  height: 700px;
  width: 700px;
  padding: 10px;
  border-color: black;
  margin-left:auto;
  margin-right:auto;
}

.container{
  display: inline-block;
  width:10%;
  height:10%;
  position: relative;
  margin: 1%;
}

.card{
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
}

.face.front {
  background:aliceblue;
}

.face.back {
  display: block;
  box-sizing: border-box;
  padding: 0px;
  color: white;
  text-align: center;
  background-color: #111;
  outline: 1px solid black;
}

.container{
  perspective: 800px;
}
.card{
  transform-style: preserve-3d;
  transition: all .25s linear;
}
.flip {
  transform: rotateY(180deg);
}
.matched {
  transform: rotateY(180deg);
  border: 2px solid green;
}
.face {
  backface-visibility: hidden;
}

.face.back {
  transform: rotateY(180deg);
}

form {
  max-width: 200px;
}

p * {
  display: block;
}

input[type=email]{
  -webkit-appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* This is our style for the invalid fields */
input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
